.navbar {
  background-color: #150941;
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  display: block;
  color: #e6fcfc97;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active {
  /* background-color: #ddd; */
  color: #f80040;
}
